.sections-nav {
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px gray solid;
  height: 50px;
}

.sections-nav li {
  display: inline;
  margin: 10px;
}

.sections-nav li:hover {
  background-color: $light-gray;
}

.sections-nav li:last-of-type:hover {
  text-decoration: underline;
}